
/* Mobile Styling for website */

body {
	margin: 0;
}

.mobile-menu-section {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 50;
	background: #68C2AC;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	box-sizing: border-box;
	color: #FDFDFE;
	min-height: 150px;
}

.mobile-menu-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.navbar-toggle-button {
	position: relative;
	font-size: 4.5vmax;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    background: 0 0;
    border: 2px solid transparent;
    border-radius: .25rem;
    padding: 10px 20px;
    border-color: #FDFDFE;
}

.fa-bars {
	color: #FDFDFE;
	font-size: inherit;
}

.fa-times {
    padding: 0px .18vw
}

.navbar-initials {
	color: #FDFDFE;
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 7vw;
    line-height: inherit;
	white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none; 
}

.mobile-navbar {
    position: absolute;
    background: #68C2AC;
    top: 100%;
    width: 100%;
    right: 0;
    -webkit-clip-path: circle(0px at top right);
    clip-path: circle(0px at top right); 
    -webkit-transition: all ease-in-out 600ms;
    transition: all ease-in-out 600ms;
}

.mobile-navbar-open {
    clip-path: circle(100%);
}


.mobile-navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-navbar li{
    font-size: 5vw;
    border-top: 1px solid white;
    padding: 20px 4vw 20px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: right;
}

.mobile-navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}    

.intro-aboutme {
	background: #CFD6DE;
    height: 93vh;
    padding-top: 15vw;
}

.profile-container {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    height: 50%;
    width: 100%;
    padding-top: 25%;
}

.profile-pic {
	border-radius: 50%;
    width: 55%;
    height: auto;
    border: .75rem solid rgba(255, 255, 255, 0.75);
}

.about-name {
	display: block;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 10.5vw;
    padding: 10% 0 2% 0;
    text-shadow: 0px 4px 8px rgba(0,0,0,0.35);
    letter-spacing: 1px;
}

.about-line {
	border-color: #FFFFFF;
    max-width: 40%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 6px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.about-title {
	display: block;
	font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 6vw;
    padding: 2% 0;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    letter-spacing: 1px;
}

.about-body {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 25%;
    text-decoration: none;
}

.about-projects-title {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    color: #FFFFFF;
    font-size: 5.5vw;
    padding: 2% 0;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
}

.fa-chevron-down {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	font-size: 10vw;
	padding: 0;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
	text-align: center;
}

a {
	text-decoration: none;
}

.projects {
    padding-top: 150px;
    margin-top: -150px;
}

.project-card {
    margin: 8% 4%;
    background-color: #CFD6DE;
    text-align: center;
}

.project-card-top {
    position: relative;
    height: 55vw;
    overflow: hidden;
}

.title-header {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-weight: bold; 
    font-size: 7vw;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    text-align: center;
    padding: 8% 0 2% 0;
    margin: 0;
}
    
.project-top-circle {
    position: absolute;
    background: #FDFDFE;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #67c3ac;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.2);
}

.project-top-cirlce:after {
    content: '';
    padding-bottom: 100%;
    display: flex;
}

.bartender-app-icon {
    background-image: url('../images/drink.png');
}

.phone-app-icon {
    background-image: url('../images/phone.png');
}

.verbalize-icon {
    background-image: url('../images/verbalize.png');
}

.database-icon {
    background-image: url('../images/database.png');
}

.css-icon {
    background-image: url('../images/css.png');
}

.website-icon {
    background-image: url('../images/website.png');
}

.project-card-bottom {
    position: relative;
    overflow: hidden;
}

.project-description {
    padding: 0 7%;
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #586880;
}

.project-description p {
    margin-bottom: 40px;
}

.skill-box {
    border-style: solid;
    border-radius: 4%;
    border-color: #68C2AC;
    background: #68C2AC;
    border-width: 1px;
    display: inline-flex;
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
    color: #FDFDFE;
    font-weight: lighter;
    padding: 0 2% 0 2%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    margin: 8px 1px;
}

.skills-row-two {
    margin-bottom: 30px;
}

.project-links-bottom {
    position: relative;
    height: 13vw;
    font-size: 6vw;
}

.project-links-bottom .git-link {
    position: absolute;
    left: 10%;
    bottom: 30%;
    text-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
}

.project-links-bottom .android-link {
    position: absolute;
    left: 12%;
    bottom: 30%;
    text-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    font-size: 7vw;
}

.project-links-bottom .iphone-link {
    position: absolute;
    right: 12%;
    bottom: 30%;
    text-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    font-size: 7vw;
}

.project-links-bottom a {
    text-decoration: none;
    color: #68C2AC;
    margin: 0;
}

.fa-github {
    padding-top: 3%;
}

.project-links-bottom .project-link {
    position: absolute;
    right: 10%;
    bottom: 30%;
    font-size: 4vw;
    background: #FDFDFE;
    font-weight: bold;
    border-radius: 45px;
    border: 1px solid #68C2AC;
    padding: 2px 10px 2px 10px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
}

.project-links-bottom .project-link-left p {
    margin: 7px 10px;
}

.project-links-bottom .project-link-left {
    position: absolute;
    left: 10%;
    bottom: 30%;
    font-size: 4vw;
    background: #FDFDFE;
    font-weight: bold;
    border-radius: 45px;
    border: 1px solid #68C2AC;
    padding: 2px 10px 2px 10px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
}


.project-links-bottom .project-link p {
    margin: 7px 10px;
}

.outro-contactme {
    background: #CFD6DE;
    height: 100vh;
}

.contact-container {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    height: 10%;
    width: 100%;
    padding-top: 15%;
}

.contact-title {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 10vw;
    padding: 10% 0 2% 0;
    text-shadow: 0px 4px 8px rgba(0,0,0,0.35);
    letter-spacing: 1px;
}

.contact-line {
    border-color: #FFFFFF;
    max-width: 40%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 6px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.contact-body {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 25%;
    text-decoration: none;
}

.contact-body p {
    display: block;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: 7vw;
    padding: 2% 0;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.45);
    letter-spacing: 0px;
    margin: 0;
}