.wrapper > div {
	/*background: #eee;*/
  /*
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  */

  
}

.wrapper > div:nth-child(odd) {
	/*background: #ddd;*/
}

.wrapper > .sidebar {
	background: #c43235;
}

html {
	
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	margin: 0;
}

.header {
	position: relative;
}

.header h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.footer p {
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 4fr 1fr 4fr 4fr 4fr 1fr;
	background: #dedede;
}

.side-top img {
	border: .25rem solid rgba(255, 255, 255, 0.2);
}

.sidebar {
	display: grid;
	grid-template-rows: 2fr 2fr 1fr 1fr;
}

.projects {
	display: grid;
	grid-template-rows: 2fr 9fr 9fr 1fr;
	height: 100vh;
	min-height: 600px;
}

.projects > div:nth-child(odd) {
}

.side-top{
	min-width: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%
}

.side-top img {
	border-radius: 50%;
	max-height: 75%;
}

.contact-fonts{
	position: relative;
}

.sidebar .side-bottom {
	text-align: center;
	vertical-align: text-bottom;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.contact-me {
	bottom: 10%;
	font-size: 1.5em;
	margin: 0;
	vertical-align: text-bottom;
}

.side-bottom .contact-fonts .fa {
	padding: .25em;
	font-size: 1.5em;
}

.projects-header, .copyright-footer {
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.project-card-wrapper {
	perspective: 1000px; 
}

.project-card p {
	margin: 0;
}

.project-card {
	text-align: center;
	color: black;
	margin: 5%;
	height: 90%;
	width: 90%;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	position: relative;
}

.project-card:hover {
	transform: rotateY(180deg);
}

.front .top-img {
	height: 85%;
	border-radius: 3px 3px 0px 0px;
	background-size: cover;
	background-position: top; 
	position: relative;
}

.front, .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.back {
	transform: rotateY(180deg);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.front .bartender-at-home:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #52a8f5, rgba(181,181,181,0.9));
	left: 0;
}

.card-top-section {
	position: relative;
	height: 60%; 
	overflow: hidden;
	backface-visibility: hidden;
}

.card-top-section p {
	font-size: 1.5vw;
}

.card-top-circle {
	position: absolute;
	width: 35%;
	background: #dedede;
	background-image: url('images/drink.png');
 	background-size: cover;
    background-position: top;
	border-radius: 50%; 
	border-style: solid;
	border-width: 1px;
	border-color: #cf5a5e;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	backface-visibility: hidden;
}

.card-top-circle:after {
	content: '';
	padding-bottom: 100%;
	display: flex;
}

.card-front-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	backface-visibility: hidden;
}

.card-bottom-section {
	font-size: 1vw;
	position: relative;
	height: 40%;
	backface-visibility: hidden;
}

.card-bottom-section p {
	position: absolute;
	top: 5%;
	padding: 8%;
	font-size: 1vw; 
	font-family: 'Open Sans', sans-serif;
}
